header{
    background-color: #fb5c04;
    line-height:0%;
    width: 100%;
    text-align:center;
}
a{
    color: #fb5c04;
}
li{
    list-style-position: outside;
    color: #fb5c04;
}
#contenido_central{
    display: grid;
    grid-template-columns: 12fr 88fr;
    margin-left: 0px;
}
#contenido_resenyas{
    text-align: left;
}
h2{
    text-align: center;
    font-weight:900;
    font-size: 50px;;
    grid-column: 0/2;
    margin-top: 0px;
    margin-left:150px;
}
.resenyas{
    display: grid;
    grid-template-columns: 20fr 80fr;
    grid-template-rows: repeat(4,auto);
}
.first{
    display: grid;
    justify-self: center;
}
.first>img{
    border: 1px solid black;
    justify-self: center;
}
.enlace_compra{
    text-align: center;
}
.second{
    display: grid;
    justify-self: center;
}
.thirst{
    display: grid;
    justify-self: center;
}
hr{
    width: 90%;
}
.text{
    display: flex;
}
